.corpo {
  padding-top: 55px;
}

@media (min-width: 992px) {
  .corpo {
    padding-top: 55px;
  }
}

.logo {
  filter: invert(100%);
}

.card {
  height: 100%;
}

.destaque {
  color: Crimson;
}

.bg-dark {
  background-color: Crimson !important;
}

.btn-style {
  color: #fff;
  background-color: Crimson;
  border-color: transparent;
  border: transparent 0px;
}
.btn-style:hover {
  color: #fff;
  background-color: DarkRed;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.admin-menu {
    background: #333;
}

b {
  color: Crimson;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    padding: 0 ;
    list-style: none;

}

ul li a {
    display: block;
    padding: 10px 10px;

    color: #b8c7ce;
    font-size: 12px;
}
ul li a:hover {
    text-decoration: none;
    background: #1d1c1c;
    color: #b8c7ce;
}

